/*=====================================
            Mobile Menu
=======================================*/

.navbar-header {
    position: relative;
}

#mobile-nav-open-btn {
    font-size: 30px;
    color: var(--persianRed);
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 6px;
    /* hide mobile nav open button */
    display: none;
}

#mobile-nav {
    width: 100%;
    /* By default, mobile nav will be hidden with the height 0% */
    height: 0%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: var(--white);
    opacity: 0.9;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    overflow-y: hidden;
}

#mobile-nav-close-btn {
    font-size: 70px;
    color: var(--grayThree);
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: 13px;
    z-index: 3;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.mobile-nav-content {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10%;
}

#mobile-nav ul li {
    margin-bottom: 20px;
}

#mobile-nav a {
    font-size: 18px;
    color: var(--grayThree);
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
    color: var(--persianRed);
    font-weight: bold;
    background: none;
}


/* Mobile Nav Scroll Spy Active State */

.white-nav-top #mobile-nav ul.nav>li.active>a {
    color: var(--persianRed);
    font-weight: bold;
}


/*=====================================
        Bootstrap Media Queries
=======================================*/


/* Large Devices (Desktops & Laptops)*/

@media (min-width: 1200px) and (max-width: 1299px) {
    /* Navigation Bar */
    .site-nav-wrapper {
        padding: 0 20px;
    }
    .navbar-brand img {
        left: -8px !important;
    }
    .white-nav-top img {
        left: 12px !important;
    }
    /* Main Section */
    main {
        width: 106%;
    }
    /* Home Section */
    .home-content-inner {
        padding-left: 50px;
    }
    /* Team Section */
    .team-box .container .row {
        margin-left: -52px;
    }
    #team {
        padding-bottom: 40px;
    }
}


/* Medium Devices (Landscape Tablets & Medium Desktops)*/

@media (min-width: 992px) and (max-width: 1199px) {
    /* Navigation Bar */
    .site-nav-wrapper {
        padding: 0;
    }
    .navbar-brand img {
        left: 5px !important;
    }
    .white-nav-top img {
        left: 28px !important;
    }
    /* Home Section */
    .home-content-inner {
        padding-left: 45px;
    }
    /* Main Section */
    main {
        width: 106%;
    }
    /* Footer */
    .footer-box .container .row {
        padding-right: 10rem;
    }
}


/* Small Devices (Portrait Tablets & Small Desktops)*/

@media (min-width: 768px) and (max-width: 991px) {
    /* Navigation Bar */
    .site-nav-wrapper {
        padding: 0;
    }
    .navbar-brand img {
        left: 16px !important;
    }
    .white-nav-top .navbar-brand img {
        left: 37px !important;
    }
    /* Home Section */
    .home-content-inner {
        padding-left: 55px;
    }
    /* Main Section */
    main {
        width: 128%;
    }
    /* Team Section */
    #member-one {
        width: 84%;
        margin-left: 60px;
    }
    #member-two {
        width: 84%;
        margin-left: 60px;
    }
    #member-three {
        width: 85%;
        margin-left: 55px;
    }
    /* Menu Section */
    .menu .menu-info {
        top: 45%;
    }
    /* Contact Section */
    #contact-form textarea {
        width: 33rem;
    }
    /* Footer */
    .footer-box .container .row {
        margin-left: 105px;
    }
    .footer-one {
        margin-left: 25px;
    }
}


/* Extra Small Devices (Portrait Tablets & Landscape Phones)*/

@media (max-width: 767px) {
    /* Navigation */
    .navbar {
        padding: 20px 0;
    }
    .site-nav-wrapper,
    .white-nav-top {
        padding: 0;
    }
    .navbar-brand img {
        top: -15px;
    }
    /* show mobile nav open button */
    #mobile-nav-open-btn {
        display: block;
        right: 15px;
    }
    /* Home Section */
    .home-content-inner {
        padding-left: 15px;
    }
    .home-heading {
        font-size: 25px;
    }
    .home-heading-two {
        font-size: 22px;
        max-width: 350px;
    }
    .btn-general {
        padding: 5px 20px 5px 20px;
    }
    /* Main Section */
    main {
        width: 102%;
    }
    /* About Section */
    #about {
        padding: 30px 0;
    }
    .about-info h2 {
        font-size: 25px;
        max-width: 400px;
    }
    .about-info-content p {
        font-size: 14px;
        line-height: 2.5rem;
    }
    /* Team Section */
    #team {
        padding: 30px 0;
    }
    .team {
        text-align: center;
    }
    .team img {
        width: 100%;
    }
    /* Menu Section */
    #menu {
        padding: 30px 0;
    }
    /* Testimonial Section */
    #testimonial {
        padding: 30px 0;
    }
    .testimonial-info {
        padding: 40px 0;
        margin-bottom: 0;
    }
    .testimonial-info h2 {
        text-align: center;
    }
    .testimonial .row {
        margin-bottom: 0;
    }
    .testimonial-heading {
        display: inline-block;
    }
    .stars {
        display: inline-block;
        float: right;
        position: relative;
        top: -62px;
    }
    /* Contact Section */
    #contact {
        padding: 30px 0;
    }
    .contact-title {
        text-align: center;
    }
}