/*=====================================
    Default Theme:
    -----------------------------------
    Fonts: 
        Main Font:       Raleway
        Fallback Font:   Sans Serif
    -----------------------------------
    Colors:
        Persian Red:     #CE3232
        Charcoal:        #454545
        Gray One:        #BFBDBD
        Gray Two:        #F9F9F9
        Gray Three:      #212226
        White:           #FFFFFF
        Black:           #000000
=======================================*/


/*=====================================
             Html, Body
=======================================*/

html,
body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

body {
    color: var(--charcoal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

section {
    background: var(--white);
    overflow: hidden;
}


/*=====================================
             Utilities
=======================================*/


/* button */

.btn-general {
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}


/* social icon */

.social-icon {
    padding: 0;
    margin: 0;
}


/* slider buttons */

.owl-theme .owl-nav [class*=owl-] {
    color: var(--black) !important;
    font-size: 40px !important;
    background: none !important;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none !important;
    color: var(--black);
}


/*=====================================
                Colors
=======================================*/

:root {
    --persianRed: #CE3232;
    --charcoal: #454545;
    --grayOne: #BFBDBD;
    --grayTwo: #F9F9F9;
    --grayThree: #212226;
    --white: #FFFFFF;
    --black: #000000;
}


/*=====================================
                Social Icons
=======================================*/

.social-icon li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
}

.social-icon li a {
    color: var(--persianRed);
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.social-icon li a:hover {
    background: var(--persianRed) !important;
    color: #ffffff;
}


/*=====================================
                Preloader
=======================================*/

#preloader {
    background-color: var(--white);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url('../images/preloader/preloader.gif');
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
}


/*=====================================
            Header Section
=======================================*/

.navbar {
    padding: 35px 0 20px 0;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}

.navbar-brand img {
    width: 175px;
    position: relative;
    top: 0px;
    left: -23px;
}

.site-nav-wrapper {
    padding: 0 85px;
}

ul.navbar-nav>li>a {
    color: var(--white);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul.navbar-nav>li>a:hover,
ul.navbar-nav>li>a:focus {
    background: none;
    color: var(--persianRed);
    font-weight: bold;
}


/* white navigation bar */

.whiteNavTop {
    background-color: var(--white);
    padding: 10px 0;
    box-shadow: 0 9px 5px -9px var(--grayOne);
    z-index: 2;
}

.whiteNavTop ul.navbar-nav>li>a {
    color: var(--grayThree);
}

.whiteNavTop ul.navbar-nav>li>a:hover,
.whiteNavTop ul.navbar-nav>li>a:focus {
    color: var(--persianRed);
}


/* Scroll spy active state */

.whiteNavTop ul.navbar-nav>li.active>a {
    color: var(--persianRed);
    font-weight: bold;
}


/*=====================================
                Home Section
=======================================*/

#home {
    background: none;
    height: 100%;
}

.home-background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url('../video/food.jpg') no-repeat;
    background-size: cover;
}

.home-overlay {
    background-color: var(--black);
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.home-content {
    width: 100%;
    height: 100%;
    display: table;
}

.home-content-inner {
    display: table-cell;
    vertical-align: middle;
    margin-left: 25px;
    padding-left: 100px;
}

.home-heading {
    color: var(--white);
    font-size: 65px;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

.home-heading h1 {
    font-size: 25px;
}

.home-heading-one {
    color: var(--persianRed);
}

.btn-home {
    color: var(--white);
    border: 1px solid var(--white);
}

.btn-home:hover,
.btn-home:focus {
    color: var(--white);
    background-color: var(--persianRed);
    border: 1px solid var(--persianRed);
}


/*=====================================
                About Section
=======================================*/

#about {
    height: 100%;
}

.about-box {
    padding: 60px 0;
    padding-top: 125px;
}

.about-info-title h4 {
    color: var(--grayOne);
}

.about-info-title h2 span {
    color: var(--persianRed);
}

.about-info-content p {
    font-size: 16px;
}

.about-image {
    padding: 25px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}


/*=====================================
                Team Section
=======================================*/

#team {
    background-color: var(--grayTwo);
}

.team-box {
    padding: 60px 0;
}

.team-title {
    padding-bottom: 40px;
}

.team-title h4 {
    color: var(--grayOne);
}

.member-two {
    height: 540px;
}

.team {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.team img {
    transition: 0.5s 0.2s;
}

.team-item h4 {
    color: var(--white);
}

.team-info {
    padding: 10px 30px 20px 30px;
}

.team .team-hover {
    position: absolute;
    background: var(--black);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: 0.5s 0.2s;
    -webkit-transition: 0.5s 0.2;
    -moz-transition: 0.5s 0.2;
    -ms-transition: 0.5s 0.2;
    -o-transition: 0.5s 0.2;
}

.team:hover .team-hover {
    opacity: 0.95;
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    -o-transition-delay: 0.5s 0.2;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.team:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.team .social-icon li a {
    background: var(--black);
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: var(--white);
    font-size: 20px;
    margin: 15px 5px 0 5px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.team .team-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.team-info p {
    color: var(--grayOne);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 5px;
}


/*=====================================
                Menu Section
=======================================*/

#menu .container {
    width: 100%;
}

#menu .col-md-4 {
    margin: 0 !important;
    padding: 0 !important;
}

.menu img {
    width: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.menu:hover img {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}

#menu .menu {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 102%;
}

.menu-box {
    padding: 60px 0;
    padding-bottom: 270px;
}

.menu-title {
    padding-bottom: 40px;
}

.menu-title h4 {
    color: var(--grayOne);
}

.menu .menu-info {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    padding: 25px 30px;
    transition: 0.5s 0.2s;
    -webkit-transition: 0.5s 0.2s;
    -moz-transition: 0.5s 0.2s;
    -ms-transition: 0.5s 0.2s;
    -o-transition: 0.5s 0.2s;
}

.menu-info .menu-item {
    float: left;
}

.menu-info .menu-price {
    float: right;
}

.menu-info .menu-price span {
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    display: block;
    margin-top: 20px;
}

.menu .menu-info h3,
.menu .menu-info p,
.menu .menu-info span {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    opacity: 0;
    display: block;
    color: var(--white);
    z-index: 2;
    position: relative;
    transition: 0.5s 0.2s;
    -webkit-transition: 0.5s 0.2s;
    -moz-transition: 0.5s 0.2s;
    -ms-transition: 0.5s 0.2s;
    -o-transition: 0.5s 0.2s;
}

.menu .menu-info h3 {
    margin-top: 0;
}

.menu .menu-info p {
    color: var(--grayOne);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.menu:hover .menu-info h3,
.menu:hover .menu-info p,
.menu:hover .menu-info span {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}

.menu:hover .menu-info {
    background-color: var(--black);
    opacity: 0.8;
}


/*=====================================
            Testimonial Section
=======================================*/

#testimonial {
    background-color: var(--grayTwo);
    overflow: visible;
}

.testimonial-box {
    padding: 60px 0;
}

.testimonialTitle {
    padding-bottom: 40px;
}

.testimonialTitle h4 {
    color: var(--grayOne);
}

.testimonial-info {
    padding: 80px 0;
    margin-bottom: 50px;
}

.testimonial-info span {
    color: var(--persianRed);
}

#testimonial-slider {
    background-color: var(--persianRed);
}

.testimonial .row {
    margin-bottom: 25px;
}

.testimonial {
    padding: 20px 45px 0 45px;
    color: var(--white);
}

.testimonial h3 {
    font-size: 32px;
    line-height: 35px;
}

.testimonial .stars {
    font-size: 20px;
    margin: 20px 0 10px 0;
}

.testimonial p {
    line-height: normal;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 500;
    word-spacing: 5px;
}

.author .author-info {
    width: 250px;
    margin-top: 25px;
    text-align: left;
}

.author .author-info p {
    margin: 0;
}

.author .author-info p:first-child {
    font-weight: bold;
    font-size: 18px;
}


/*=====================================
            Contact Section
=======================================*/

.contact-box {
    padding: 100px 0;
}

#contact .contact-title {
    padding-bottom: 0;
}

#contact .form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--grayTwo);
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
    transition: all ease-in-out 0.4s;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

#contact .form-control:hover,
#contact .form-control:focus {
    border-bottom-color: var(--grayOne);
}

#contact input {
    height: 55px;
}

#contact button#submit {
    background: var(--persianRed);
    border: 0;
    color: var(--white);
    font-weight: bold;
    height: 50px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

#contact button#submit:hover {
    background: var(--black);
    color: var(--white);
}

.google-map {
    margin-top: 25px;
}

.google-map iframe {
    border: 0;
    width: 100%;
    height: 390px;
}


/*=====================================
            Footer Section
=======================================*/

#footer {
    color: var(--white);
    padding: 60px;
    font-weight: bolder;
}

.footer-info a {
    color: var(--white);
}

#footer-one {
    background-color: var(--black);
    color: var(--white);
    padding: 30px;
}


/* back to top button */

#backToTop {
    padding: 8px 12px;
    color: var(--white);
    background-color: var(--persianRed);
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 5;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 15px;
    display: none;
}

#backToTop:hover {
    color: var(--white);
    background-color: var(--black);
}