/*=====================================
    Default Theme:
    -----------------------------------
    Fonts: 
        Main Font:       Raleway
        Fallback Font:   Sans Serif
    -----------------------------------
    Colors:
        Persian Red:     #CE3232
        Charcoal:        #454545
        White:           #FFFFFF
        Black:           #000000
=======================================*/


/*=====================================
                Html, Body
=======================================*/

html,
body {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}


/*=====================================
                Colors
=======================================*/

:root {
    --persianRed: #CE3232;
    --charcoal: #454545;
    --white: #FFFFFF;
    --black: #000000;
}


/*=====================================
                Preloader
=======================================*/

#preloader {
    background-color: var(--white);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url('../images/preloader/preloader.gif');
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
}