/*=====================================
    Default Theme:
    -----------------------------------
    Fonts: 
        Main Font:       Raleway
        Fallback Font:   Sans Serif
    -----------------------------------
    Colors:
        Persian Red:     #CE3232
        Charcoal:        #454545
        Gray One:        #BFBDBD
        Gray Two:        #F9F9F9
        White:           #FFFFFF
        Black:           #000000
=======================================*/


/*=====================================
             Html, Body
=======================================*/

html,
body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

body {
    color: var(--charcoal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

section {
    background: var(--white);
    overflow: hidden;
}


/*=====================================
             Utilities
=======================================*/


/* button */

.btnGeneral {
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}


/* social icon */

.socialIcon {
    padding: 0;
    margin: 0;
}


/* slider buttons */

.owl-theme .owl-nav [class*=owl-] {
    color: var(--black) !important;
    font-size: 40px !important;
    background: none !important;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none !important;
    color: var(--black);
}


/*=====================================
                Colors
=======================================*/

:root {
    --persianRed: #CE3232;
    --charcoal: #454545;
    --grayOne: #BFBDBD;
    --grayTwo: #F9F9F9;
    --white: #FFFFFF;
    --black: #000000;
}


/*=====================================
                Social Icons
=======================================*/

.socialIcon li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
}

.socialIcon li a {
    border-radius: 100px;
    color: var(--persianRed);
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.socialIcon li a:hover {
    background: var(--persianRed) !important;
    color: #ffffff;
}


/*=====================================
                Preloader
=======================================*/

#preloader {
    background-color: var(--white);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url('../images/preloader/preloader.gif');
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
}


/*=====================================
                Home Section
=======================================*/

#home {
    background: none;
    height: 100%;
}

#homeBackgroundVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url('../video/food.jpg') no-repeat;
    background-size: cover;
}

#homeOverlay {
    background-color: var(--black);
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#homeContent {
    width: 100%;
    height: 100%;
    display: table;
}

#homeContentInner {
    display: table-cell;
    vertical-align: middle;
    margin-left: 25px;
    padding-left: 100px;
}

#homeHeading {
    color: var(--white);
    font-size: 65px;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

#homeHeadingOne {
    color: var(--persianRed);
}

.btnHome {
    color: var(--white);
    border: 1px solid var(--white);
}

.btnHome:hover,
.btnHome:focus {
    color: var(--white);
    background-color: var(--persianRed);
    border: 1px solid var(--persianRed);
}


/*=====================================
                About Section
=======================================*/

.aboutBox {
    padding: 60px 0;
}

.aboutInfoTitle h4 {
    color: var(--grayOne);
}

.aboutInfoTitle h2 span {
    color: var(--persianRed);
}

.aboutInfoContent p {
    font-size: 16px;
}

.aboutImage {
    padding: 25px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}


/*=====================================
                Team Section
=======================================*/

#team {
    background-color: var(--grayTwo);
}

.teamBox {
    padding: 60px 0;
}

.teamTitle {
    padding-bottom: 40px;
}

.teamTitle h4 {
    color: var(--grayOne);
}

#memberTwo {
    height: 540px;
}

.team {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.team img {
    transition: 0.5s 0.2s;
}

.teamItem h4 {
    color: var(--white);
}

.teamInfo {
    padding: 10px 30px 20px 30px;
}

.team .teamHover {
    position: absolute;
    background: var(--black);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: 0.5s 0.2s;
    -webkit-transition: 0.5s 0.2;
    -moz-transition: 0.5s 0.2;
    -ms-transition: 0.5s 0.2;
    -o-transition: 0.5s 0.2;
}

.team:hover .teamHover {
    opacity: 0.95;
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    -o-transition-delay: 0.5s 0.2;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.team:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.team .socialIcon li a {
    background: var(--black);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: var(--white);
    font-size: 20px;
    margin: 15px 5px 0 5px;
}

.team .teamItem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.teamInfo p {
    color: var(--grayOne);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 5px;
}


/*=====================================
                Menu Section
=======================================*/

#menu .container {
    width: 100%;
}

#menu .col-md-4 {
    margin: 0 !important;
    padding: 0 !important;
}

.menu img {
    width: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.menu:hover img {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}

#menu .menu {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 102%;
}

.menuBox {
    padding: 60px 0;
    padding-bottom: 160px;
}

.menuTitle {
    padding-bottom: 40px;
}

.menuTitle h4 {
    color: var(--grayOne);
}

.menu .menuInfo {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    padding: 25px 30px;
    transition: 0.5s 0.2s;
    -webkit-transition: 0.5s 0.2s;
    -moz-transition: 0.5s 0.2s;
    -ms-transition: 0.5s 0.2s;
    -o-transition: 0.5s 0.2s;
}

.menuInfo .menuItem {
    float: left;
}

.menuInfo .menuPrice {
    float: right;
}

.menuInfo .menuPrice span {
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    display: block;
    margin-top: 20px;
}

.menu .menuInfo h3,
.menu .menuInfo p,
.menu .menuInfo span {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    opacity: 0;
    display: block;
    color: var(--white);
    z-index: 2;
    position: relative;
    transition: 0.5s 0.2s;
    -webkit-transition: 0.5s 0.2s;
    -moz-transition: 0.5s 0.2s;
    -ms-transition: 0.5s 0.2s;
    -o-transition: 0.5s 0.2s;
}

.menu .menuInfo h3 {
    margin-top: 0;
}

.menu .menuInfo p {
    color: var(--grayOne);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.menu:hover .menuInfo h3,
.menu:hover .menuInfo p,
.menu:hover .menuInfo span {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}

.menu:hover .menuInfo {
    background-color: var(--black);
    opacity: 0.8;
}


/*=====================================
            Testimonial Section
=======================================*/

#testimonial {
    background-color: var(--grayTwo);
    overflow: visible;
}

.testimonialBox {
    padding: 60px 0;
}

.testimonialTitle {
    padding-bottom: 40px;
}

.testimonialTitle h4 {
    color: var(--grayOne);
}

.testimonialInfo {
    padding: 80px 0;
    margin-bottom: 50px;
}

.testimonialInfo span {
    color: var(--persianRed);
}

#testimonialSlider {
    background-color: var(--persianRed);
    top: -120px;
}

.testimonial .row {
    margin-bottom: 25px;
}

.testimonial {
    padding: 20px 45px 0 45px;
    color: var(--white);
}

.testimonial h3 {
    font-size: 32px;
    line-height: 35px;
}

.testimonial .stars {
    font-size: 20px;
    margin: 20px 0 10px 0;
}

.testimonial p {
    line-height: normal;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 500;
    word-spacing: 5px;
}

.author .authorInfo {
    width: 250px;
    margin-top: 25px;
    text-align: left;
}

.author .authorInfo p {
    margin: 0;
}

.author .authorInfo p:first-child {
    font-weight: bold;
    font-size: 18px;
}